@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.img {
  background: url(./assets/bg1.png),
    linear-gradient(180deg, #000000 -73.06%, rgba(0, 0, 0, 0) 100%);
  mix-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.content {
  color: white;
  font-size: 64px;
  border-radius: 10px;
  font-weight: 700;
  margin-left: 110px;
}
.hot-seal {
  height: 366px;
  color: aliceblue;
  background-color: #F6F7F8;
  position: absolute;
  left: 100px;
  top: 87vh;
  border-radius: 5px;
}


.h41 {
  color: #223263;
}
.h51 {
  color: #9098b1;
}
.h62 {
  color: #fb7181;
}
.inp1 {
  height: 55px;
  color: #9098b1;
  border-radius: 5px;
  border: 1px solid #9098b1;
}
.inp-search{
  height: 55px;
  color: #9098b1;
  border: 1px solid #40BFFF;
}
.inp-are{
  color: #9098b1;
  border-radius: 5px;
  border: 1px solid #9098b1;
}
.inputs-box{

  box-shadow: 0px 2px 4px 0px #00000040;
}

.inp-name {
  top: 18px;
  left: 13px;
  color: #9098b1;
}
::placeholder {
  color: #9098b1;
  font-weight: 400;
}
.inp2 {
  height: 55px;
  border-radius: 5px;
  background-color: #40bfff;
  border: none;
}
.inp-send{
  border-radius: 5px;
  background-color: #40bfff;
  border: none;
}
.h61 {
  color: #9098b1;
}
.h61 a {
  color: #40bfff;
  text-decoration: none;
}

/* login and register end style */
.tab-bar {
  height: 95px;
  top: calc(100vh - 95px);
}
.nav-link-color {
  color: #262626;
}
.active {
  color: #40bfff;
}
.section3-content-div {
  position: relative;
  border: 1px solid #e8e8e8;
  border-radius: 17px;
}
.overlay {
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
  transform: rotateY(90deg);
  background-color: rgb(255, 255, 255);
  transition: 0.9s;
}
.section3-content-div:hover .overlay {
  transform: rotateY(0deg);
}
.section3-content-div:hover .active-none {
  display: none;
}
.icon-s,
.icon-y {
  width: 50px;
  height: 50px;
  border: 1px solid #33a0ff;
  text-align: center;
  color: #33a0ff;
  line-height: 50px;
  border-radius: 50%;
  background-color: #fff;
}
.icon-s:hover {
  background-color: #33a0ff;
  color: #fff;
}
.icon-y {
  background-color: #33a0ff;
  color: #fff;
}
.icon-y:hover {
  background-color: #fff;
  color: #33a0ff;
}
.active-2 {
  color: #33A0FF;
  border-bottom: 4px solid #33A0FF;
}
.splash{
  transform: rotate(45deg);
}
.master{
  transform: rotate(7deg);
}
.check-out{
  font-weight: 500;
  background-color: #40BFFF;
  color: white;
  border: 1px solid #40BFFF;
  transition: 0.9s;
}
.check-out:hover{
  background-color: white;
  color: #40BFFF;
  border: 1px solid #40BFFF;
  transition: 0.9s;
}
.bg-inp{
  background-color: rgba(223, 222, 222, 0.5);
}
.credit{
  width: 319px;
  height: 179px;
  border-radius: 10px;
  background: linear-gradient(180deg, #ACACAC 0%, #4F4F4F 100%);
}
.plat{
  width: 47px;
  height: 32px;
border-radius: 7px;

}
.bg-add{
  background-color: rgba(51, 160, 255,0.1);
}
.tab-p{
font-size: 12px;
font-weight: 400;
line-height: 21.6px;
letter-spacing: 0.5px;
margin: 0 0 20px 31px;
color: #9098B1;
z-index: 5;
}
.line-tab{
height: 4px;
opacity: 0.5px;
background-color: #E5E8EA;
margin-bottom: 20px;
}
.rev-1{
font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 21.6px;
letter-spacing: 0.5px;
text-align: left;
color: #9098B1;
margin: 20px 0 10px 40px;
}
.date-rev{
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0.5px;
text-align: left;
color: #9098B1;
margin: 20px 0 0 40px;
}